<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                <string></string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <true/>
                <key>Key</key>
                <string>screenFlash</string>
                <key>Title</key>
                <string>Flash Screen on All Beats</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <false/>
                <key>Key</key>
                <string>highPowerFlash</string>
                <key>Title</key>
                <string>High Power LED Flash</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>FooterText</key>
                <string>© Nick Walker 2013</string>
                <key>Title</key>
                <string>About</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <string>1.0 (84)</string>
                <key>Key</key>
                <string>versionNumber</string>
                <key>Title</key>
                <string>Version</string>
                <key>Type</key>
                <string>PSTitleValueSpecifier</string>
            </dict>
        </array>
        <key>StringsTable</key>
        <string>Root</string>
    </dict>
</plist>
